/* Místo pro kaskádové styly */
html, body {
    width: 100%;
    height: 100%;
    margin: 0;
    font-family: 'Roboto', Arial, sans-serif;
}
body{
    display: flex;
    flex-direction: column;
    color: white;
    text-align: center;
}

header{
    height: 5em;
    background-color: #0074C5;
}
main{
    flex:4;
    background-color: #eef1f0;
    color: #000000;
}

input:read-only{
    background-color: #dfdfdf;
}

canvas{
    float: left;
}
label { display: inline-block; width: 210px; text-align: right; }

input[type=text], select {
    padding: 12px 10px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: content-box;
    width: 45px;
}
canvas{
    margin:30px;
}
#nudgeWrapper {
    overflow: hidden; /* will contain if #first is longer than #second */
}
#nudgeButton {

    float:left; /* add this */

}
#initBallPos{
    vertical-align:middle;
}
#nudgeSlider {
    vertical-align:middle;
    /* if you don't want #second to wrap below #first */
}